# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
data-collection/PreprocessedImages/0b521441-out_2_2_52.png
data-collection/PreprocessedImages/0bde31bb-09152008flight2tape3_435.png
data-collection/PreprocessedImages/0be4b816-out_2_1_215.png
data-collection/PreprocessedImages/0da35ee5-out_2_3_130.png
data-collection/PreprocessedImages/0f083450-out_2_1_223.png
data-collection/PreprocessedImages/0fa9771c-out_2_1_102.png
data-collection/PreprocessedImages/1a7d8ea8-out_2_2_417.png
data-collection/PreprocessedImages/1b2daef4-out_2_3_117.png
data-collection/PreprocessedImages/1b7d568d-out_2_3_119.png
data-collection/PreprocessedImages/1b272ed3-out_2_2_817.png
data-collection/PreprocessedImages/1daddba6-out_2_1_221.png
data-collection/PreprocessedImages/1e8a186e-out_2_1_115.png
data-collection/PreprocessedImages/1e934c48-out_2_2_225.png
data-collection/PreprocessedImages/01f48b27-out_2_1_511.png
data-collection/PreprocessedImages/1f58dcbb-out_2_2_94.png
data-collection/PreprocessedImages/1fbf17e7-out_2_1_625.png
data-collection/PreprocessedImages/02a1d698-out_2_3_19.png
data-collection/PreprocessedImages/2a58607b-out_2_1_65.png
data-collection/PreprocessedImages/2ca1d2f0-out_2_2_931.png
data-collection/PreprocessedImages/3d477740-out_2_3_112.png
data-collection/PreprocessedImages/3e96935f-out_2_1_615.png
data-collection/PreprocessedImages/3f4c91ba-out_2_2_823.png
data-collection/PreprocessedImages/4a920590-out_2_3_17.png
data-collection/PreprocessedImages/4b7ca413-out_2_3_330.png
data-collection/PreprocessedImages/4d11e0bc-out_2_2_95.png
data-collection/PreprocessedImages/4d90f5c4-09152008flight2tape3_457.png
data-collection/PreprocessedImages/4e292419-out_2_1_76.png
data-collection/PreprocessedImages/4ec07b08-out_2_2_920.png
data-collection/PreprocessedImages/4edd2682-out_2_3_25.png
data-collection/PreprocessedImages/5a4941c8-out_2_3_124.png
data-collection/PreprocessedImages/5aebaf21-out_2_2_219.png
data-collection/PreprocessedImages/5b8ba660-out_2_3_24.png
data-collection/PreprocessedImages/5bed90c5-out_2_1_113.png
data-collection/PreprocessedImages/5dc62ac5-out_2_2_927.png
data-collection/PreprocessedImages/5e796fba-out_2_1_74.png
data-collection/PreprocessedImages/6b63f8ce-out_2_2_11.png
data-collection/PreprocessedImages/06b65cae-09152008flight2tape3_951.png
data-collection/PreprocessedImages/06c8cae3-out_2_3_226.png
data-collection/PreprocessedImages/6c9b2749-out_2_3_113.png
data-collection/PreprocessedImages/6e3e2517-out_2_2_98.png
data-collection/PreprocessedImages/6f2f464b-out_2_3_221.png
data-collection/PreprocessedImages/7a15af8b-out_2_2_123.png
data-collection/PreprocessedImages/7a64aa6c-out_2_3_329.png
data-collection/PreprocessedImages/7b6cccb3-out_2_1_58.png
data-collection/PreprocessedImages/7bad49c1-out_2_1_1015.png
data-collection/PreprocessedImages/7c84e285-out_2_3_315.png
data-collection/PreprocessedImages/7d6cf9f9-09152008flight2tape3_950.png
data-collection/PreprocessedImages/7d447a29-out_2_1_1022.png
data-collection/PreprocessedImages/7eee0017-out_2_2_126.png
data-collection/PreprocessedImages/7effeb40-out_2_1_519.png
data-collection/PreprocessedImages/8a7fd22f-out_2_1_723.png
data-collection/PreprocessedImages/8b7c2393-out_2_2_124.png
data-collection/PreprocessedImages/8b53fd3d-out_2_1_722.png
data-collection/PreprocessedImages/8b1249e3-out_2_3_18.png
data-collection/PreprocessedImages/8c25c2cb-out_2_1_21.png
data-collection/PreprocessedImages/8cbd997c-out_2_3_317.png
data-collection/PreprocessedImages/8dc86be0-out_2_1_11.png
data-collection/PreprocessedImages/8dcf62f7-out_2_1_531.png
data-collection/PreprocessedImages/8f75b600-out_2_2_17.png
data-collection/PreprocessedImages/9b6983a5-out_2_1_54.png
data-collection/PreprocessedImages/009cbc0a-09152008flight2tape3_431.png
data-collection/PreprocessedImages/9da67154-out_2_1_64.png
data-collection/PreprocessedImages/9e988c51-09152008flight2tape3_47.png
data-collection/PreprocessedImages/9e11031d-out_2_2_921.png
data-collection/PreprocessedImages/10c9ae20-out_2_2_55.png
data-collection/PreprocessedImages/11ef8c91-out_2_1_1018.png
data-collection/PreprocessedImages/13d3bf13-out_2_2_226.png
data-collection/PreprocessedImages/015e2a80-out_2_2_92.png
data-collection/PreprocessedImages/21a59a5a-out_2_1_721.png
data-collection/PreprocessedImages/26dff48a-out_2_1_126.png
data-collection/PreprocessedImages/28e2bcb9-out_2_1_1020.png
data-collection/PreprocessedImages/31b1c125-out_2_2_914.png
data-collection/PreprocessedImages/31ea3084-09152008flight2tape3_931.png
data-collection/PreprocessedImages/31eb096c-09152008flight2tape3_936.png
data-collection/PreprocessedImages/32bf9ec1-out_2_2_222.png
data-collection/PreprocessedImages/32e454d5-out_2_2_82.png
data-collection/PreprocessedImages/34bc507a-out_2_3_222.png
data-collection/PreprocessedImages/35dc14b7-out_2_3_110.png
data-collection/PreprocessedImages/38fecefb-09152008flight2tape3_957.png
data-collection/PreprocessedImages/41e9e884-out_2_1_78.png
data-collection/PreprocessedImages/43b22044-out_2_3_224.png
data-collection/PreprocessedImages/44acb9ef-out_2_1_118.png
data-collection/PreprocessedImages/46ba8dab-out_2_3_29.png
data-collection/PreprocessedImages/49d4df51-09152008flight2tape3_953.png
data-collection/PreprocessedImages/53ba0af6-out_2_2_827.png
data-collection/PreprocessedImages/54bcecb6-out_2_1_104.png
data-collection/PreprocessedImages/55f2554f-out_2_2_930.png
data-collection/PreprocessedImages/56b35dd7-out_2_1_728.png
data-collection/PreprocessedImages/56ef93a7-09152008flight2tape3_940.png
data-collection/PreprocessedImages/61bb7590-out_2_3_27.png
data-collection/PreprocessedImages/62a02346-out_2_2_431.png
data-collection/PreprocessedImages/67b4ac62-out_2_2_96.png
data-collection/PreprocessedImages/68b3bd3a-09152008flight2tape3_440.png
data-collection/PreprocessedImages/69a24c77-out_2_2_18.png
data-collection/PreprocessedImages/069e4b52-out_2_3_126.png
data-collection/PreprocessedImages/71f1f0e4-09152008flight2tape3_423.png
data-collection/PreprocessedImages/72c8d0db-out_2_1_27.png
data-collection/PreprocessedImages/75e5b04d-out_2_2_216.png
data-collection/PreprocessedImages/78f9ea9b-out_2_2_15.png
data-collection/PreprocessedImages/89b8ceb1-out_2_1_631.png
data-collection/PreprocessedImages/91c7c70d-09152008flight2tape3_928.png
data-collection/PreprocessedImages/91e4159c-out_2_1_725.png
data-collection/PreprocessedImages/94aca563-out_2_1_130.png
data-collection/PreprocessedImages/95e4b8e0-out_2_1_123.png
data-collection/PreprocessedImages/096b623b-out_2_3_223.png
data-collection/PreprocessedImages/103a24e8-out_2_2_97.png
data-collection/PreprocessedImages/129af313-out_2_1_13.png
data-collection/PreprocessedImages/164afb62-out_2_3_312.png
data-collection/PreprocessedImages/177d95ef-out_2_2_91.png
data-collection/PreprocessedImages/199e43bc-out_2_2_23.png
data-collection/PreprocessedImages/276da565-out_2_2_118.png
data-collection/PreprocessedImages/296fde3d-out_2_3_16.png
data-collection/PreprocessedImages/330e2f5e-out_2_1_101.png
data-collection/PreprocessedImages/358cbac0-out_2_2_16.png
data-collection/PreprocessedImages/386a8210-out_2_3_318.png
data-collection/PreprocessedImages/484f9342-out_2_2_829.png
data-collection/PreprocessedImages/550de034-out_2_1_1017.png
data-collection/PreprocessedImages/641e0441-out_2_1_19.png
data-collection/PreprocessedImages/672c8b56-out_2_3_217.png
data-collection/PreprocessedImages/688efcfb-out_2_1_617.png
data-collection/PreprocessedImages/744b8e03-out_2_2_916.png
data-collection/PreprocessedImages/753e0b38-out_2_2_924.png
data-collection/PreprocessedImages/844ce92b-out_2_1_1023.png
data-collection/PreprocessedImages/0849dbc6-out_2_2_86.png
data-collection/PreprocessedImages/911c1f09-out_2_1_218.png
data-collection/PreprocessedImages/920bfe9c-out_2_1_17.png
data-collection/PreprocessedImages/951e347b-out_2_1_53.png
data-collection/PreprocessedImages/1074b709-out_2_1_616.png
data-collection/PreprocessedImages/2177e51f-out_2_1_125.png
data-collection/PreprocessedImages/2284e652-09152008flight2tape3_925.png
data-collection/PreprocessedImages/02509f21-out_2_2_913.png
data-collection/PreprocessedImages/3642f6d6-out_2_3_215.png
data-collection/PreprocessedImages/4103aa86-out_2_2_822.png
data-collection/PreprocessedImages/4579eadd-out_2_1_122.png
data-collection/PreprocessedImages/5176b140-out_2_1_525.png
data-collection/PreprocessedImages/5389a07b-out_2_2_224.png
data-collection/PreprocessedImages/5813e342-out_2_1_1029.png
data-collection/PreprocessedImages/5951c1f6-out_2_3_322.png
data-collection/PreprocessedImages/6314ffea-out_2_3_128.png
data-collection/PreprocessedImages/6998b308-out_2_1_1021.png
data-collection/PreprocessedImages/8866b2fb-out_2_1_1028.png
data-collection/PreprocessedImages/18840f58-out_2_2_925.png
data-collection/PreprocessedImages/30432c86-out_2_1_220.png
data-collection/PreprocessedImages/38471b3c-out_2_3_331.png
data-collection/PreprocessedImages/75121a64-out_2_1_129.png
data-collection/PreprocessedImages/75922b97-out_2_1_23.png
data-collection/PreprocessedImages/244077d5-out_2_2_820.png
data-collection/PreprocessedImages/272019b6-out_2_1_29.png
data-collection/PreprocessedImages/520307ac-out_2_1_1031.png
data-collection/PreprocessedImages/640530ba-out_2_2_919.png
data-collection/PreprocessedImages/714028c4-out_2_2_122.png
data-collection/PreprocessedImages/849024d8-out_2_3_327.png
data-collection/PreprocessedImages/969863e9-out_2_1_108.png
data-collection/PreprocessedImages/994702f4-out_2_1_1025.png
data-collection/PreprocessedImages/17819503-out_2_2_821.png
data-collection/PreprocessedImages/19611947-out_2_1_522.png
data-collection/PreprocessedImages/38284693-out_2_2_929.png
data-collection/PreprocessedImages/38743089-out_2_1_224.png
data-collection/PreprocessedImages/40546368-09152008flight2tape3_926.png
data-collection/PreprocessedImages/51192537-out_2_2_223.png
data-collection/PreprocessedImages/57269805-out_2_2_217.png
data-collection/PreprocessedImages/57813419-09152008flight2tape3_932.png
data-collection/PreprocessedImages/91202688-out_2_2_926.png
data-collection/PreprocessedImages/97696298-out_2_1_119.png
data-collection/PreprocessedImages/a3fa320b-out_2_2_917.png
data-collection/PreprocessedImages/a4f4df65-out_2_3_311.png
data-collection/PreprocessedImages/a7d9cb36-out_2_3_12.png
data-collection/PreprocessedImages/a8b70549-out_2_3_328.png
data-collection/PreprocessedImages/a42c0ddb-out_2_1_1013.png
data-collection/PreprocessedImages/a2846fd8-out_2_2_828.png
data-collection/PreprocessedImages/a34025ea-out_2_2_423.png
data-collection/PreprocessedImages/a5257927-out_2_2_51.png
data-collection/PreprocessedImages/aaaa634a-out_2_3_320.png
data-collection/PreprocessedImages/abf7dbd0-out_2_2_818.png
data-collection/PreprocessedImages/af2f2d14-out_2_3_120.png
data-collection/PreprocessedImages/b0a06927-out_2_2_915.png
data-collection/PreprocessedImages/b0eab920-out_2_2_231.png
data-collection/PreprocessedImages/b4a0dee3-out_2_1_114.png
data-collection/PreprocessedImages/b7a5de2c-out_2_1_211.png
data-collection/PreprocessedImages/b8f096b6-out_2_2_826.png
data-collection/PreprocessedImages/b18db9f1-out_2_1_521.png
data-collection/PreprocessedImages/b23d330b-out_2_2_21.png
data-collection/PreprocessedImages/b62f1366-out_2_2_25.png
data-collection/PreprocessedImages/b69a779d-out_2_1_103.png
data-collection/PreprocessedImages/b4233a8a-09152008flight2tape3_436.png
data-collection/PreprocessedImages/ba25bba4-out_2_1_1014.png
data-collection/PreprocessedImages/ba41fb23-out_2_1_1024.png
data-collection/PreprocessedImages/ba795fad-out_2_1_52.png
data-collection/PreprocessedImages/bba60658-out_2_2_22.png
data-collection/PreprocessedImages/bcf11e9a-out_2_1_127.png
data-collection/PreprocessedImages/bd912c5a-out_2_3_227.png
data-collection/PreprocessedImages/bd972f8f-out_2_1_523.png
data-collection/PreprocessedImages/bdd29bff-out_2_3_211.png
data-collection/PreprocessedImages/be9f5adb-out_2_1_1030.png
data-collection/PreprocessedImages/bf4a57de-out_2_2_93.png
data-collection/PreprocessedImages/bf8dddb9-out_2_3_26.png
data-collection/PreprocessedImages/bf87073a-09152008flight2tape3_45.png
data-collection/PreprocessedImages/bf222143-out_2_1_110.png
data-collection/PreprocessedImages/bfd6d315-out_2_1_726.png
data-collection/PreprocessedImages/c0e2e2f7-out_2_2_831.png
data-collection/PreprocessedImages/c3e7656e-out_2_2_524.png
data-collection/PreprocessedImages/c20bd872-out_2_1_516.png
data-collection/PreprocessedImages/c76d5b31-out_2_1_26.png
data-collection/PreprocessedImages/c81d8cf6-out_2_3_28.png
data-collection/PreprocessedImages/c581ed69-out_2_2_218.png
data-collection/PreprocessedImages/c86083e4-out_2_2_130.png
data-collection/PreprocessedImages/ca47c8de-09152008flight2tape3_453.png
data-collection/PreprocessedImages/cc399ece-out_2_3_23.png
data-collection/PreprocessedImages/cc634e74-out_2_2_125.png
data-collection/PreprocessedImages/cfc46c99-out_2_1_629.png
data-collection/PreprocessedImages/cfc9664e-out_2_3_129.png
data-collection/PreprocessedImages/d0e47507-out_2_1_71.png
data-collection/PreprocessedImages/d0f3a3b3-out_2_2_923.png
data-collection/PreprocessedImages/d3cde675-out_2_1_727.png
data-collection/PreprocessedImages/d3ec0a59-out_2_1_57.png
data-collection/PreprocessedImages/d5b7af3e-09152008flight2tape3_952.png
data-collection/PreprocessedImages/d7b18391-09152008flight2tape3_428.png
data-collection/PreprocessedImages/d9ed54ff-out_2_1_73.png
data-collection/PreprocessedImages/d42bbeae-out_2_2_819.png
data-collection/PreprocessedImages/d893db7a-out_2_1_1010.png
data-collection/PreprocessedImages/d18546ed-out_2_1_109.png
data-collection/PreprocessedImages/d744076c-out_2_1_210.png
data-collection/PreprocessedImages/d811805b-out_2_1_124.png
data-collection/PreprocessedImages/db2efefe-out_2_1_517.png
data-collection/PreprocessedImages/dccb3310-out_2_1_128.png
data-collection/PreprocessedImages/dd955c41-09152008flight2tape3_958.png
data-collection/PreprocessedImages/de473334-out_2_1_22.png
data-collection/PreprocessedImages/df82bf80-out_2_1_77.png
data-collection/PreprocessedImages/df5883bd-out_2_2_228.png
data-collection/PreprocessedImages/dfa05bfb-out_2_3_127.png
data-collection/PreprocessedImages/dfa22b1b-out_2_3_111.png
data-collection/PreprocessedImages/dffb923d-09152008flight2tape3_929.png
data-collection/PreprocessedImages/e2a973b4-out_2_3_13.png
data-collection/PreprocessedImages/e3cf98bb-out_2_2_825.png
data-collection/PreprocessedImages/e7aff56a-out_2_1_63.png
data-collection/PreprocessedImages/e8d474df-09152008flight2tape3_927.png
data-collection/PreprocessedImages/e73dd156-09152008flight2tape3_444.png
data-collection/PreprocessedImages/e76f7f20-out_2_2_14.png
data-collection/PreprocessedImages/e264db33-out_2_1_213.png
data-collection/PreprocessedImages/e759c9c3-out_2_2_227.png
data-collection/PreprocessedImages/e0245883-out_2_1_530.png
data-collection/PreprocessedImages/ea79072a-out_2_3_22.png
data-collection/PreprocessedImages/eadb65c8-out_2_2_215.png
data-collection/PreprocessedImages/ebb0b513-out_2_3_15.png
data-collection/PreprocessedImages/ec9fe13e-09152008flight2tape3_930.png
data-collection/PreprocessedImages/ed9a35a8-out_2_1_15.png
data-collection/PreprocessedImages/edb9a8d1-out_2_3_21.png
data-collection/PreprocessedImages/edcd47ed-out_2_1_1019.png
data-collection/PreprocessedImages/ee6b2eb0-out_2_1_14.png
data-collection/PreprocessedImages/ee6b671e-out_2_2_214.png
data-collection/PreprocessedImages/eebb5199-out_2_1_24.png
data-collection/PreprocessedImages/f0ad739e-out_2_2_83.png
data-collection/PreprocessedImages/f0c61e46-09152008flight2tape3_41.png
data-collection/PreprocessedImages/f1d5e90a-09152008flight2tape3_456.png
data-collection/PreprocessedImages/f2a1f65f-out_2_2_830.png
data-collection/PreprocessedImages/f3cfafd0-out_2_2_918.png
data-collection/PreprocessedImages/f3df1e01-out_2_1_12.png
data-collection/PreprocessedImages/f3ef11cb-out_2_1_219.png
data-collection/PreprocessedImages/f7acb1ea-out_2_1_214.png
data-collection/PreprocessedImages/f7ddfd07-out_2_1_1016.png
data-collection/PreprocessedImages/f9c18331-09152008flight2tape3_944.png
data-collection/PreprocessedImages/f13e1874-out_2_1_518.png
data-collection/PreprocessedImages/f46fd5e4-out_2_3_230.png
data-collection/PreprocessedImages/f369f6e8-out_2_2_56.png
data-collection/PreprocessedImages/f801feee-out_2_2_824.png
data-collection/PreprocessedImages/fba4fee0-out_2_3_231.png
data-collection/PreprocessedImages/fdea3287-out_2_1_216.png
data-collection/PreprocessedImages/fe8b5f42-out_2_3_326.png
data-collection/PreprocessedImages/ffcfdbbf-out_2_3_118.png
data-collection/PreprocessedImages/ffdb491b-out_2_2_57.png
